<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="style.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<title>Login</title>

	<style>
		body {
			background-image: url(https://pbs.twimg.com/media/DXPC2VvVQAACGQQ.jpg:large);
			width: 100%;
		}
		.btn-dark {
			color: #fff;
			background-color: brown;
		}
	</style>
</head>
<body>
	
	<div class="container-fluid" style="font-family:'Lucida Handwriting', cursive;">

		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4" style="margin-top: 12%; color: crimson;"><h2 style="text-align: center; color: crimson;font-family: inherit;">Login</h2>
				<br>
				<form action="/login/CheckAccount" method="POST">
					{% csrf_token %}
					<div class="form-group">
						<label for="email">User name:</label>
						<input type="text" class="form-control" name="userName" placeholder="Enter username" name="username" required="">
					</div>
					<br>
					<div class="form-group">
						<label for="pwd">Password:</label>
						<input type="password" class="form-control" name="passWord" placeholder="Enter password" name="passWord" required="">
					</div>
					<br>	
					<p style="text-align: center; color: magenta; font-size: 20px;"><b>{{error}}</b></p>
					<div style="text-align: center;">
						<button type="submit" class="btn btn-dark" >Login</button>
						<button type="submit" class="btn btn-dark" ><a href="/login/Register" style="text-decoration: none; color: white">Register</a></button>

					</div>
				</form>
				<br>
				<div style="text-align: center;color: deeppink; font-size: 17px;">
					 <a href="/admin/" style="background-color: white;">Login with admin | </a> <a href="/" style="background-color: white;">| Home</a>
					

				</div>
			</div>
			<div class="col-sm-4"></div>
		</div>
	</div>
	
</body>
</html>