<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="style.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<title>Login
	</title>

	<style>
		body {
			background-color: lavender;
			width: 100%;
		}
	</style>
</head>
<body>
	<div class="container-fluid" style="font-family:'Lucida Handwriting', cursive;">
		<div id="header">
			<div class="main">LifesTravel</div>
		</div>

		<div id="homeMenu" >
			<ul style="margin-top: 8px;">
				<li><a class="home" href="Homepage.html">Home</a></li>
				<li><a class="cart" href="cart.html">Cart</a></li>
				<li><a class="tuor" href="tour.html">Tuor</a></li>
			</ul>
		</div>

		<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4"><h2>Login</h2>
  <form action="/action_page.php">
    <div class="form-group">
      <label for="email">User name:</label>
      <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
    </div>
    <div style="text-align: center;">
    	<button type="submit" class="btn btn-dark" >Login</button>
    	<button type="submit" class="btn btn-dark" ><a href="/Register" style="text-decoration: none; color: white">Register</a></button>
    </div>
    
  </form></div>
		<div class="col-sm-4"></div>
		</div>
	</div>

</body>
</html>